<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de carga de gas - IW3 2020</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="ui/modules/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="ui/modules/sockjs-client/dist/sockjs-1.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
        <script type="text/javascript" src="ui/modules/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" src="ui/modules/angular-sweetalert/SweetAlert.min.js"></script>
        <script src="ui/modules/ng-stomp/dist/ng-stomp.standalone.min.js"></script>

        <script src="ui/app.js"></script>
        <link rel="stylesheet" href="ui/styles/index.css">
    </head>
    <body ng-app="final-iw3">
    <div ng-controller="pedidosController" id="maindiv">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Sistema de carga de gas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" ng-click="mostrarPaginaPedidos()">Ver pedidos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-click="cargarAlarmas()">Ver alarmas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cuenta
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Modificar datos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" ng-click="cerrarSesion()">Cerrar sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="pedidos" ng-show="mostrarPedidos">
            <br>
            <h1>{{ titulo }}</h1>
            <br>
            <div id="seccion-filtrar">
                <h3>Filtrar por:</h3>
                <select class="form-control" ng-click="filtrarTabla()" ng-model="selectValue" autocomplete="off">
                    <option selected="selected">ID</option>
                    <option>Estado</option>
                    <option>Fecha</option>
                </select>
                <input type="number" class="form-control" min="0" id="number" ng-if="selectValue=='ID' || selectValue=='Estado'">
                <input type="date" class="form-control" id="date" ng-if="selectValue=='Fecha'">
                <button type="button" class="btn btn-primary">Filtrar</button>
            </div>
            <br>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" ng-click="ordenarPor('nroOrden')">Número</th>
                    <th scope="col" ng-click="ordenarPor('estado')">Estado</th>
                    <th scope="col" ng-click="ordenarPor('idCamion')">Camión</th>
                    <th scope="col" ng-click="ordenarPor('preset')">Preset</th>
                    <th scope="col" ng-click="ordenarPor('masaAcumulada')">Carga Actual</th>
                    <th scope="col" ng-click="ordenarPor('temperatura')">Última Temperatura</th>
                    <th scope="col" ng-click="ordenarPor('densidad')">Última Densidad</th>
                    <th scope="col" ng-click="ordenarPor('caudal')">Último Caudal</th>
                    <th scope="col">Tiempo Transcurrido</th>
                    <th scope="col">ETA</th>
                    <th scope="col">Ver Conciliación</th>
                    <th scope="col">Anular pedido</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pedido in data  | orderBy: orderby" ng-if="pedido.anulado==0">
                    <th scope="row">{{pedido.nroOrden}}</th>
                    <td>{{pedido.estado}}</td>
                    <td>{{pedido.camion.idCamion}}</td>
                    <td>{{pedido.preset}}</td>
                    <td>{{pedido.masaAcumulada}}</td>
                    <td>{{pedido.temperatura}}</td>
                    <td>{{pedido.densidad}}</td>
                    <td>{{pedido.caudal}}</td>
                    <td><p ng-if="pedido.estado==2&&pedido.masaAcumulada>0">{{calcularTiempoTranscurrido(pedido)}}</p></td>
                    <td><p ng-if="pedido.estado==2&&pedido.masaAcumulada>0">{{calcularETA(pedido)}}</p></td>
                    <td><button type="button" class="btn btn-primary" ng-if="pedido.estado==4" ng-click="cargarConciliacion(pedido.nroOrden)">Ver conciliación</button></td>
                    <td><button type="button" class="btn btn-danger" ng-click="anularPedido(pedido.nroOrden)">Anular pedido</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="conciliacion" ng-show="mostrarConciliacion">
            <br>
            <h1>Conciliacion del pedido {{idConciliacion}}</h1>
            <br>
            <table class="table table-hover col-md-2">
                <tr><th>Pesaje Inicial:</th><td>{{dataConc.pesajeInicial}}</td></tr>
                <tr><th>Pesaje Final:</th><td>{{dataConc.pesajeFinal}}</td></tr>
                <tr><th>Producto Acumulado:</th><td>{{dataConc.productoAcumulado}}</td></tr>
                <tr><th>Neto por balanza:</th><td>{{dataConc.netoPorBalanza}}</td></tr>
                <tr><th>Diferencia entre balanza y caudalimetro:</th><td>{{dataConc.difBalyCaud}}</td></tr>
                <tr><th>Temperatura Promedio:</th><td>{{dataConc.promedioTemp}}</td></tr>
                <tr><th>Caudal Promedio:</th><td>{{dataConc.promedioCaudal}}</td></tr>
                <tr><th>Densidad Promedio:</th><td>{{dataConc.promedioDensidad}}</td></tr>
            </table>

        </div>
        <div id="alarmas" ng-show="mostrarAlarmas">
            <br>
            <h1>Alarmas:</h1>
            <br>
            <table class="table table-hover col-md-10">
                <tr><th>Nro. de Pedido</th><th>Usuario que acept&oacute; la alarma</th><th>Fecha de aceptaci&oacute;n</th><th colspan="2">Motivo de la alarma</th></tr>
                <tr ng-repeat="alarma in alarmas">
                    <td>{{alarma.idAlarma}}</td>
                    <td>{{alarma.usuarioQueAcepto.nombre + " " + alarma.usuarioQueAcepto.apellido}}</td>
                    <td>{{adaptarFecha(alarma.fechaAceptacion)}}</td>
                    <td>{{alarma.motivoAlarma}}</td>
                </tr>
            </table>
        </div>
    </div>

    </body>
</html>